__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.DS_Store
outputs/
*.jpg
*.png
!data/m00_sample/*.png
!data/m01_sample/*.png
artifacts/m00/*
!artifacts/m00/.gitkeep
!artifacts/m00/example/
artifacts/m01/*
!artifacts/m01/.gitkeep
!artifacts/m01/example/
